.container{
	text-align: center;
	font-family: 'Noto Sans JP', sans-serif;
	color: white;
}
.body{
        background-image: url(Photos/call-of-duty-warzone-poluchila-chetyre-novyh-vida-oruzhija.jpg);
	width: 150%;
}
